name: kani-github-actions
on:
  push:
    branchs: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
    - name: Set up python 3.8.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.13
    - name: Install Poetry
      run: |
        pip install -U pip 
        sudo apt-get update 
        sudo apt install -y curl netcat
        sudo curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
        source $HOME/.poetry/env
    - name: Install python dependencies
      working-directory: ./flask-project
      run: |
        source $HOME/.poetry/env
        poetry install
    - name: Test with pytest
      working-directory: ./flask-project
      run: |
        source $HOME/.poetry/env
        poetry run pytest
  docker:
    needs: run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build
        run: docker-compose build
      - name: Push
        run: docker-compose push kkh5428/aimmo:latest

  azure:
    needs: docker
    runs-on: ubuntu-latest
    steps:
    - name: remote SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          sudo apt-get remove docker docker-engine docker.io
          sudo apt-get install apt-transport-https ca-certificates curl software-properties-common
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo apt-get update
          sudo apt-get install docker-ce
          docker rm -f $(docker ps -aq -f name=kkh5428)
          docker rmi $(docker images | grep 'kkh5428/aimmo' | awk '{print $3}')
          docker pull kkh5428/aimmo:latest
          docker-compose up -d --build 
