name: kani-github-actions
on:
  push:
    branchs: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      working-directory: ./flask-vue/flask-project
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
    - name: Set up python 3.8.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.13
    - name: Install Poetry
      run: |
        pip install -U pip 
        sudo apt-get update 
        sudo apt install -y curl netcat
        sudo curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
        source $HOME/.poetry/env
    - name: Install python dependencies
      run: |
        source $HOME/.poetry/env
        poetry install
    - name: Test with pytest
      run: |
        source $HOME/.poetry/env
        sudo poetry run pytest