name: kani-github-actions
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
    - name: Set up python 3.8.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.13
    - name: Install Poetry
      run: |
        pip install -U pip 
        sudo apt-get update 
        sudo apt install -y curl netcat
        sudo curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
        source $HOME/.poetry/env
    - name: Install python dependencies
      working-directory: ./flask-project
      run: |
        source $HOME/.poetry/env
        poetry install
    - name: Test with pytest
      working-directory: ./flask-project
      run: |
        source $HOME/.poetry/env
        poetry run pytest

  azure:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
    - name: Login Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build Push ACR
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - run: |
        docker-compose build -t kania.azurecr.io/vue-flask
        docker-compose push kania.azurecr.io/vue-flask
